name: Esegui Test

on: push
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Install dependencies
        run: npm install

      - name: Set permissions for Jest
        run: chmod +x ./node_modules/.bin/jest

      - name: Run tests
        run: npm test
